html,
body {
    width: calc(100% + calc(100vw - 100%));
    overflow-x: hidden;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 0.95vmax;
    line-height: 1.17vmax;
    background-color: #e6f3f3;
    color: #616161;
    height: 100%;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
    font: inherit;
    color: inherit;
    transition: all 0.3s ease;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: normal;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 0.36vw;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 0.95vmax;
}

.wrap {
    width: 94.85vw;
    margin: 0 auto;
    position: relative;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 9.26vh;
}

header .wrap {
    height: inherit;
}

.color_main {
    background-color: #1bbcb8;
}

#main_nav a {
    color: #fff;
    text-transform: uppercase;
    padding-right: 1.17vmax;
    &:hover {
        text-decoration: underline;
    }
}

#main_nav a.main_nav--last {
    padding-right: 0;
}

#main_nav {
    margin-right: 1.83vmax;
}

#logo {
    width: 8vw;
    margin-right: 8vw;
}

#cart {
    width: 2.94vw;
    margin-right: 2.2vw;
    margin-left: auto;
    cursor: pointer;
}

.main_nav--search {
    background-color: #e6f3f3;
    border: none;
    border-radius: 0.36vw;
    width: 30.88vw;
    height: 4.65vh;
    padding-left: 1vw;
    padding-right: 2.95vw;
    background-image: url(../../assets/images/lans.png);
    background-repeat: no-repeat;
    background-size: 1.39vw 1.39vw;
    background-position: 28.38vw center;
}

.home #search {
    display: none;
}

#banner {
    width: 100%;
    height: 93vh;
    background-image: url(../../assets/images/bg_header.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#banner_wrap {
    height: 81.74vh;
    background-color: #fff;
    position: absolute;
    top: 15.11vh;
    left: calc(50% - 47.425vw);
    border: 1px solid #fff;
    background-image: url(../../assets/images/bg_banner.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 58.14vh;
    &::after {
        content: '';
        background-image: url(../../assets/images/shadow_s.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 94.85vw;
        height: 3.83vh;
        position: absolute;
        bottom: -3.83vh;
        left: calc(50% - 47.425vw);
    }
}

.slide_banner {
    position: relative;
    height: 81.74vh !important;
}

.slide_img--banner {
    position: absolute;
    top: 16vh;
    left: 8vw;
    width: 46.15vw;
    height: 53vh;
    img {
        height: 100%;
    }
}

.slide_title--banner {
    position: absolute;
    top: 20vh;
    left: 34.7vw;
    color: #fff;
    h2 {
        font-family: 'RobotoBold';
        font-size: 5.29vmax;
        margin-bottom: 1.16vh;
    }
    h3 {
        font-family: 'RobotoMedium';
        font-size: 3.67vmax;
        line-height: normal;
    }
    p {
        line-height: 1.86vmax;
        width: 41vw;
        a {
            text-align: right;
            text-decoration: underline;
            margin-right: 1.3vw;
        }
    }
}

.slider_price--banner {
    color: #fff;
    font-family: 'RobotoBold';
    position: absolute;
    right: 2.17vw;
    bottom: 40.69vh;
    font-size: 5.29vmax;
    span {
        font-size: 1.617vmax; 
    }
}

.slider_order--banner {
    width: 28.67vw;
    height: 27.9vh;
    background-color: #fff;
    box-shadow: 10px 17.3px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.36vw;
    padding: 4.3vh 3.16vw 4.3vh 2.35vw;
    position: absolute;
    right: 2.17vw;
    bottom: 7.9vh;
}

.main_btn {
    background-color: #1bbcb8;
    box-shadow: 5px 8.7px 20px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    width: 11.76vw;
    height: 4.65vh;
    &:hover {
        box-shadow: none;
    }
}

.input_box {
    margin-bottom: 2.33vh;
}

.input_box.box_color {
    margin-bottom: 2.9vh;
}

.label-input--box {
    width: 5.44vw;
}

.label-input--box label {
    color: #062726;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 0.95vmax;
    line-height: 1.17vmax;
}

.inline_radio input[type='radio'] {
    display: none;
}

.inline_radio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.inline_radio label {
    width: 2.9vw;
    height: 2.9vw;
    color: #062726;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 0.72vw;
    &:last-child {
        margin-right: 0;
    }
}

.box_radio label {
    border: 1px solid #093c3b;
    &:hover {
        background-color: #093c3b;
        color: #fff;
    }
    &.active {
        background-color: #093c3b;
        color: #fff
    }
}

.radio_color label {
    background-color: #093c3b;
    border-radius: 50%;
    &:nth-child(1) {
        background-color: #8b4e39;
    }
    &:hover {
        background-color: #060606;
    }
    &.active {
        border: 0.22vw solid #1bbcb8;
    }
}

.number_block {
    position: relative;
    color: #323232;
    font-size: 0.88vmax;
}

.number-minus,
.number-plus {
    position: absolute;
    font: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    top: 25%;
}

.number-plus {
    right: 0;
}

.number-count {
    height: 4.65vh;
    width: 5.88vw;
    border: 1px solid #a2a2a2;
    border-radius: 0.36vw;
    text-align: center;
    font: inherit;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#banner_wrap {
    .slick-dots li button:before {
        font-size: 0 !important;
        opacity: 1 !important;
        width: 1.17vmax;
        height: 1.17vmax;
        content: '';
        border: 1px solid #1bbcb8;
        border-radius: 50%;
        text-align: center;
    }
    .slick-dots li.slick-active button:before {
        opacity: 1 !important;
        background-color: #1bbcb8;
    }
    .slick-dots {
        bottom: 3.25vh !important;
    }
}