html,
body {
    width: calc(100% + calc(100vw - 100%));
    overflow-x: hidden;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 0.95vmax;
    line-height: 1.17vmax;
    background-color: #e6f3f3;
    color: #616161;
    height: 100%;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
    font: inherit;
    color: inherit;
    transition: all 0.3s ease;
}


/*.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  padding: 0;
  line-height: normal;
  cursor: pointer;
  transition: all 0.5s ease;
  font-family: 'CuprumRegular', sans-serif;
  border-radius: 0.25vw;
}*/

.btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: normal;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.wrap {
    width: 94.85vw;
    margin: 0 auto;
    position: relative;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 9.26vh;
}

header .wrap {
    height: inherit;
}

.color_main {
    background-color: #1bbcb8;
}

#main_nav a {
  color: #fff;
  text-transform: uppercase;
  padding-right: 1.17vmax;
  &:hover {
    text-decoration: underline;
  }
}

#main_nav {
    margin-right: 0.7vmax;
}
#logo {
    width: 8vw;
    margin-right: 8vw;
}

#cart {
    width: 2.94vw;
    margin-right: 2.2vw;
    margin-left: auto;
    cursor: pointer;
}

.main_nav--search {
    background-color: #e6f3f3;
    border: none;
    border-radius: 0.36vw;
    width: 30.88vw;
    height: 4.65vh;
    padding-left: 1vw;
    padding-right: 2.95vw;
    background-image: url(../../assets/images/lans.png);
    background-repeat: no-repeat;
    background-size: 1.39vw 1.39vw;
    background-position: 28.38vw center;
}

/* .home #search {
    display: none;
} */