html,
body {
    width: calc(100% + calc(100vw - 100%));
    overflow-x: hidden;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 0.95vmax;
    line-height: 1.17vmax;
    background-color: #e6f3f3;
    color: #616161;
    height: 100%;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
    font: inherit;
    color: inherit;
    transition: all 0.3s ease;
}


/*.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  padding: 0;
  line-height: normal;
  cursor: pointer;
  transition: all 0.5s ease;
  font-family: 'CuprumRegular', sans-serif;
  border-radius: 0.25vw;
}*/

.btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: normal;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.wrap {
    width: 94.85vw;
    margin: 0 auto;
    position: relative;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 9.26vh;
}

.block-none {
    display: none!important;
}

.color_main {
  background-color: #1bbcb8;
}